Fight_detect.zip
.gitignore.txt
مكتشف العاركة 1.zip
yolo/best.pt
trainnig_output/final_model.h5
trainnig_output/final_model_2.h5
trainnig_output/checkpoint/ckpt_9.h5
trainnig_output/checkpoint/ckpt_8.h5
trainnig_output/checkpoint/ckpt_7.h5
trainnig_output/checkpoint/ckpt_6.h5
trainnig_output/checkpoint/ckpt_5.h5
trainnig_output/checkpoint/ckpt_4.h5
trainnig_output/checkpoint/ckpt_3.h5
trainnig_output/checkpoint/ckpt_2.h5
trainnig_output/checkpoint/ckpt_10.h5
trainnig_output/checkpoint/ckpt_1.h5
__pycache__/Fight_detec_func.cpython-310.pyc
__pycache__/Fight_detec_func.cpython-312.pyc
__pycache__/fram_slicer.cpython-310.pyc
__pycache__/frame_slicer.cpython-310.pyc
__pycache__/frame_slicer.cpython-312.pyc
__pycache__/objec_detect_yolo.cpython-310.pyc
__pycache__/objec_detect_yolo.cpython-312.pyc
model_summary.py
trainig.py
.gitattributes
yolo/args.yaml
yolo/events.out.tfevents.1709560094.4803dfdfccec.25.0
yolo/labels_correlogram.jpg
fight and object detection documentation.docx